  <nav class="navbar navbar-expand-lg bg-body-tertiary ">
      <div class="container-fluid nav-style">
        <!-- ==============================[اسم ]================== -->

        <ul class="dynamic-txts">
            <li><h1>HI I AM : OMID RAJAEI</h1></li>
            <li><h1>HI I AM : OMID RAJAEI</h1></li>
            <li><h1>HI I AM : OMID RAJAEI</h1></li>
            <li><h1>HI I AM : OMID RAJAEI</h1></li>
        </ul>
        <!-- ==============================[نوبار ]================== -->

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
              <i class="icon fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
            <div class="col-md-6">
            </div>
           <div class="col-md-6">
             <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" >
               <li class="nav-item">
                 <a class="nav-link hvr-underline-from-center nav-title" aria-current="page">About Me</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link hvr-underline-from-center nav-title">Services</a>
               </li>
               <li class="nav-item">
                <a class="nav-link hvr-underline-from-center nav-title" >My Documents</a>
              </li>
               <li class="nav-item">
                 <a class="nav-link hvr-underline-from-center nav-title" >Contact Me</a>
               </li>
              </ul>
            </div>  
      </div>
  </div>
  </nav>