<div class="c-m container-fluid">
    <div class="row">
        <section class="w-100 float-left form-main-con padding-top padding-bottom" id="Contact">
            <div class="container">
               <div class="form-main-inner-con position-relative">
                  <div class="generic-title text-center">
                     <h6>Contact me</h6>
                     <h2 class="mb-0">Any Questions?
                     </h2>
                     <br>
                  </div>
                  <div class="row">
                     <div class="col-lg-4 order-lg-0 order-2 details">
                        <div class="contact-information position-relative wow slideInLeft" >
                           <ul class="list-unstyled">
                              <li>
                                 <figure class="mb-0 d-flex align-items-center justify-content-center">
                                    <i class="fa-solid fa-location-dot icon"></i>
                                 </figure>
                                 <div class="contact-information-content">
                                    <h5>Address:</h5>
                                    <p class="mb-0">BLV Tabarsi:
                                       Meghdad29.Almahdi22
                                    </p>
                                 </div>
                              </li>
                              <li>
                                 <figure class="mb-0 d-flex align-items-center justify-content-center">
                                    <i class="fa-solid fa-envelope icon"></i>
                                 </figure>
                                 <div class="contact-information-content">
                                    <h5>Email:</h5>
                                    <p class="mb-0">rje.omid@gmail.com</p>
                                 </div>
                              </li>
                              <li class="mb-0">
                                 <figure class="mb-0 d-flex align-items-center justify-content-center">
                                    <i class="fa-solid fa-phone icon"></i>
                                 </figure>
                                 <div class="contact-information-content">
                                    <h5>Phone:</h5>
                                    <p class="mb-0">+989358844146</p>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-lg-8">
                        <form class="contact-form wow slideInRight text-lg-left text-center" >
                           <div class="row">
                              <div class="col-lg-6 col-md-6">
                                 <div class="form-group mb-0">    
                                    <input type="text"  placeholder="Name" name="name" id="name"> 
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                 <div class="form-group mb-0">
                                    <input type="email"  placeholder="Email">
                                    <small id="emailHelp" class="form-text text-muted"></small>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                 <div class="form-group mb-0">    
                                    <input type="tel"  placeholder="Phone"> 
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                 <div class="form-group mb-0">    
                                    <input type="text"  placeholder="Subject"> 
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-lg-12">
                                 <div class=" form-group mb-0">    
                                    <textarea  placeholder="Message" rows="3" name="comments" id="comments"></textarea>
                                 </div>
                              </div>
                           </div>
                           <button type="submit" class="appointment-btn">Submit</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </section>
    </div>
</div>