.s-r{
    margin-top: 8rem;
    padding-bottom: 7rem;
    background-color: black;
    border-top: 12px solid #FCAF17;
}
.generic-title h2{
    padding-top: 3rem;
    font-weight: 700;
}
.generic-title{
    color: #FCAF17;
    margin-bottom: 46px;
}
.service-con::before{
    content: "";
    width: 127px;
    height: 404px;
    position: absolute;
    top: 207px;
    left: 0;
    animation: right-mover 1s infinite alternate;
    -webkit-animation: right-mover 1s infinite alternate;
}
.service-con::after{
    content: "";
    width: 52px;
    height: 59px;
    position: absolute;
    top: 154px;
    left: 72px;
    animation: mover 1s infinite alternate;
    -webkit-animation: mover 1s infinite alternate;
}
.service-inner-con:after {
    content: "";
    width: 35px;
    height: 38px;
    position: absolute;
    bottom: 190px;
    right: -116px;
    animation: mover 1s infinite alternate;
    -webkit-animation: mover 1s infinite alternate;
}
.service-inner-con h2{
    color: var(--primary-color);
}
.service-box{
    perspective: 100px;
}
.service-box-item{
    background: #fff;
    margin-bottom: 3px;
    border: 3px solid #FCAF17 ;
    padding:40px 36px;
    border-radius: 20px;
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}
.service-box-item:hover .service-box-item-content h4{
    color: var(--light-purple-color);
}
.service-box-item figure{
    width: 130px;
    height: 130px;
    display: flex;
    background: #f4f9ff;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 50%;   
}
.service-box-item figure img{
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}
.service-box-item:hover figure img{
    transform: translateY(-8px);
}
.service-box-item-content {
    margin-left: 156px;
}
.service-box-item-content h4{
    color: var(--primary-color);
    font-weight: 700;
}
.service-box-item-content p{
    font-size: 18px;
    line-height: 28px;
    color: var( --text-color);
    font-family: 'Lato', sans-serif;
}
.service-box-item-content a{
    font-size: 18px;
    color: var(--accent);
    padding-bottom: 5px;
    position: relative;
}
.service-box-item-content a:hover{
    color: var(--light-purple-color);
}
.service-box-item-content a::after{
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    content: '';
    position: absolute;
    transition: ease-in-out 0.3s;
    background: var(--light-purple-color);
}
.service-box-item-content a:hover::after {
    width: 100%;
}
.service-box .row:first-child{
    margin-bottom: 30px;
}
.service-box .row:last-child{
    margin-bottom: 40px;
}
.service-box-item a{
    text-decoration: none;
}
